.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episodeCardImg {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.NavBar {
  border: solid black;
  align-items: center;
}

.home {
  border: solid black;
  display: flex;
  width: 1500px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel {
  border: solid black;
  display: flex;
  width: 1400px;
  /* justify-content: center; */
  overflow-x: auto;
}

.genForm {
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.epiCard {
  border: solid black;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.orderButts {
  display: flex;
  width: 100%;
  justify-content: center;
}

.episodeButts {
  display: flex;
  justify-content: center;
}

footer {
  border: solid black;
  display: flex;
  align-items: center;
}
